## Deliverable 3. Create a Travel Itinerary Map.

In [47]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [62]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.tail()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
215,600,Assare,BR,75.94,overcast clouds,-6.8744,-39.8750,José Xavier de Andrade
216,603,Sola,VU,83.07,overcast clouds,-13.8833,167.5500,Leumerus Bungalows
217,604,Bachaquero,VE,81.01,overcast clouds,9.9694,-71.1494,casa de los dinosaurios
218,605,Gurun,MY,78.58,overcast clouds,5.8172,100.4738,The Jerai Hill Resort
219,606,Matadi,CD,76.59,overcast clouds,-5.8167,13.4500,Hotel Vivi Palace
220,610,Lalsot,IN,89.49,overcast clouds,26.5667,76.3333,Sharma Hotel
221,613,Dwarka,IN,82.72,overcast clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort
222,614,Funtua,NG,81.79,overcast clouds,11.5233,7.3081,Sani Jikan Mallam Hotel
223,621,Mount Pleasant,US,78.06,overcast clouds,32.7941,-79.8626,Best Western Patriots Point
224,625,Mango,US,85.14,overcast clouds,27.9797,-82.3065,Hilton Garden Inn Tampa East/Brandon
225,627,Pimentel,PE,70.09,overcast clouds,-6.8367,-79.9342,Hotel Puerto del Sol
226,631,Iquitos,PE,84.24,overcast clouds,-3.7481,-73.2472,Cortez Malaga Techy Caroly
227,632,Huarmey,PE,70.30,overcast clouds,-10.0681,-78.1522,Hotel Miramar
228,634,Panukulan,PH,80.46,overcast clouds,14.9333,121.8144,AC Lodging House
229,635,Moroni,KM,79.48,overcast clouds,-11.7022,43.2551,Hotel les Arcades
230,644,Majene,ID,78.44,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI
231,647,Tezu,IN,71.15,overcast clouds,27.9167,96.1667,Circuit House
232,654,Santiago,CL,70.99,overcast clouds,-33.4569,-70.6483,Hotel Panamericano
233,657,Wajid,SO,75.94,overcast clouds,3.8093,43.2471,xamdihotelresturant114
234,659,Hyderabad,IN,83.71,overcast clouds,17.3753,78.4744,Star Inn

In [24]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [35]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [63]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Tezu']
vacation_end = vacation_df.loc[vacation_df['City']=='Tezu']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Hyderabad']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Lalsot']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Dwarka']
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
234,659,Hyderabad,IN,83.71,overcast clouds,17.3753,78.4744,Star Inn

In [64]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
stop3

(22.2394, 68.9678)

In [65]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig2 = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], 
travel_mode= 'DRIVING')
fig2.add_layer(itinerary)
fig2

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,647,Tezu,IN,71.15,overcast clouds,27.9167,96.1667,Circuit House
1,659,Hyderabad,IN,83.71,overcast clouds,17.3753,78.4744,Star Inn
2,610,Lalsot,IN,89.49,overcast clouds,26.5667,76.3333,Sharma Hotel
3,613,Dwarka,IN,82.72,overcast clouds,22.2394,68.9678,Hotel Narayan Avezika Comfort

In [69]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [71]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))